.posts {
    padding-bottom: 1rem;
  }
  
article {
    margin-bottom: 1rem;
}
  
article:hover {
    color: var(--hover-text-color);
}
  
article h3 {
    margin-bottom: 0.25rem;
    margin-left: 1rem;
}
  
article time {
    margin-left: 1rem;
    font-style: italic;
    font-size: 80%;
    color: var(--subheading-text-color);
}
  
article img {
    object-fit: cover;
    transition: all .25s ease-in-out;
}

article a:hover > img {
    transform: scale(1.1);
}
  
article a {
    text-decoration: none;
    color: var(--text-color);
    display: flex;
}
  
article a:hover {
    text-decoration: none;
    color: var(--hover-text-color);
}
  
article a img {
    flex: 1;
    height: 10rem;
    min-width: 13.3rem;
    max-width: 13.3rem;
}
  
article a div {
    flex: 5;
}

article a:hover > div {
    background-color: rgba(223, 235, 236, 0.2);
}

.news img {
    height: 10rem;
    cursor: pointer;
    transition: 0.3s;
}

.news img:hover {
    opacity: 0.7;
}

/* The Modal (background) */
#modal {
    display: none; 
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
    z-index: 19; /* Higher z-index than navbar */
    align-content: center;
}

/* Modal Content (Image) */
#modalImage {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Add Animation - Zoom in the Modal */
#modalImage {
    animation-name: zoom;
    animation-duration: 0.6s;
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 48rem) {
    article {
        max-width: 90vw !important;
        height: 10rem;
        margin-bottom: 3rem !important;
    }

    article h3 {
        font-size: 85%;
        height: 7.5rem;
        overflow: hidden;
        margin-top: 0;
    }

    article time {
        font-size: 65%;
        float: right;
        padding-right: 1rem;
    }

    #modalImage {
        width: 100%;
    }
}
