:root {
  --background-color: white;
  --text-color: #333;
  --hover-text-color: #3e64aa;
  --link-text-color: #3e64aa;
  --emphasis-color: #b0f7ae;
  --error-color: #fb5757;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 125%;
  line-height: 1.5;
  overflow-x: clip;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
  color: var(--link-text-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.content {
  margin: 0 auto 2rem auto;
  width: 50rem;
}

.content .overview {
  display: flex;
  padding: 3rem 0;
}

.content .overview h2 {
  flex: 1;
  min-width: fit-content;
  margin: auto
}

.content .overview hr {
  margin: 1rem 2rem 1rem 2rem;
}

.emphasis {
  color: var(--emphasis-color);
}

.page-title {
  background: url('/images/tent.webp') 50%;
  background-size: cover;
  height: 10rem;
  width: 100vw;
  margin-left: -.5rem;
  color: white;
  text-align: center;
}

.page-title h1 {
  padding-top: 3.5rem;
}

blockquote {
  border-left: 3px solid #ccc;
  padding-left: 15px;
  font-size: 80%;
  color: #555;
}

@media screen and (max-width: 48rem) {
  .content {
    width: auto;
  }

  .content .overview {
    flex-direction: column;
    padding: 1rem 0;
  }

  .content .overview h2 {
    padding-top: 0;
    margin-left: 0;
  }

  .content .overview hr {
    display: none;
  }
}
