{{ partial "header.html" . }}
{{ partial "title.html" . }}

<script src="/scripts/contact.js"></script>

<main class="content">
    <div>{{ .Content }}</div>

    <div class="contact">
            <input id="contact-name-textbox" class="valid" type="text" placeholder="Name" />
    
            <input id="contact-email-textbox" class="valid" type="text" placeholder="Email" />
    
            <textarea id="contact-message-textarea" class="valid" placeholder="Message"></textarea>

        <button id="contact-button" onclick="sendContactMessage();">SEND</button>
    </div>
</main>

{{ partial "footer.html" . }}
