/* LAYOUT */

:root {
  --background-color: #150101;
  --text-color: white;
  --hover-text-color: #ccc;
  --link-text-color: aqua;
  --emphasis-color: #b0f7ae;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #e5ffe5;
    --text-color: #111;
    --hover-text-color: #555;
    --link-text-color: blue;
    --emphasis-color: #544b80;
  }  
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 125%;
  line-height: 1.5;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
  color: var(--link-text-color);
}

.content {
  margin: 0 20vw 2rem 20vw;
}

.info {
  display: flex;
}

.info .emoji-image {
  flex: 1;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 10vmin;
  text-wrap: nowrap;
}

.info .description {
  margin: 2rem 0;
  flex: 1;
}

.site-header {
  font-size: 12vmin;
  padding-left: 3rem; 
  display: flex;
}

.site-header img {
  flex: 1; 
  object-fit: scale-down; 
  max-width: 50vw; 
  margin-right: -.5rem;
}

.site-header div {
  flex: 1; 
  margin-top: auto; 
  margin-bottom: auto;
}

.emphasis {
  color: var(--emphasis-color);
}

/* NAVIGATION */

.site-nav {
  display: flex;
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  width: 100vw;
  margin-top: -.6rem;
  margin-left: -.5rem;
  margin-right: 3rem;
}

.site-nav a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: var(--text-color);
}

.site-nav a:hover {
  color: var(--hover-text-color);
}

.site-nav .logo {
  font-weight: bold;
  margin-left: 3rem;
}

.site-header .banner-text {
  font-size: 12vh;
  margin: 1rem 3rem;
  font-weight: bold;
  max-width: 90vw;
  color: white;
}

.site-header .description-text {
  font-size: 125%;
  margin: 0rem 3rem;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 10%, rgba(0,0,0,.5) 90%, rgba(0,0,0,0) 100%);
  color: white;
  max-width: 75vw;
}

.main-menu {
  display: flex;
  list-style: none;
  margin: 0 3rem;
  padding: 0;
}

/* LISTS */

.post-snippet {
  margin-bottom: 1rem;
  outline: solid 2px;
  max-width: 47vw;
  border-radius: 5px;
}

.post-snippet h3 {
  margin-bottom: 0.25rem;
  margin-left: 1rem;
}

.post-snippet time {
  margin-left: 1rem;
  font-style: italic;
  color: var(--hover-text-color);
}

.post-snippet img {
  object-fit: cover;
}

.post-snippet a {
  text-decoration: none;
  color: var(--text-color);
  display: flex;
}

.post-snippet a:hover {
  text-decoration: none;
  color: var(--hover-text-color);
}

/* FOOTER */

footer {
  margin: 5rem 3rem 1rem 3rem;
}

footer a img {
  width: 2rem;
  padding-left: 1rem;
}

/* RESPONSIVE */

@media screen and (max-width: 48rem) {
  .site-nav,
  .main-menu {
    flex-direction: column;
    margin: 0 3vw;
  }

  .logo {
    margin-left: 3vw !important;
  }

  .site-nav a {
    padding: 0.5rem;
    padding-left: 0;
  }

  .site-nav ul li {
    display: list-item;
    font-size: 75%;
    list-style-type: disclosure-closed;
    margin-left: 1rem;;
  }

  .info {
    display: block;
  }

  .info .emoji-image {
    display: none;
  }

  .content {
    margin: 0 5vw 2rem 5vw;
  }

  .site-header {
    display: block;
    padding-left: 3vw;
  }

  .site-header img {
    max-width: 95%;
  }

  .post-snippet {
    max-width: 90vw !important;
  }

  footer div {
    flex-direction: column;
  }

  footer {
    margin: 3rem 1rem 1rem 1rem !important;
  }

  footer a img {
    padding-left: 0rem !important;
  }
}
