<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta property="og:title" content="{{ .Params.title }}" />
	<meta property="og:image" content="{{ .Params.image }}" />
	<meta property="og:description" content="{{ .Params.description }}" />
	<meta property="og:type" content="{{ .Params.type }}" />

	<title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

	<link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/css/nav.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/css/banner.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/css/news.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/css/contact.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/css/signup.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/css/footer.css" type="text/css" media="all" />

	<script src="/scripts/formatting.js"></script>
	<script src="/scripts/links.js"></script>

	<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⛺</text></svg>">
	
	{{ with .OutputFormats.Get "rss" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}

</head>

<body>
{{ partial "nav.html" . }}
