<nav class="site-nav">
    <a class="logo" href="{{ .Site.BaseURL }}">
      {{ .Site.Title }}
    </a>
    <div style="flex: 1;"></div>
    <ul class="main-menu">
      {{ range.Site.Menus.main }}
      <li>
        <a href="{{ .URL }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
    <div class="hamburger-menu">
      <input id="toggle" type="checkbox"></input>
      
      <label for="toggle" class="hamburger">
        <div class="top-bun"></div>
        <div class="meat"></div>
        <div class="bottom-bun"></div>
      </label>
      
      <div class="nav">
        <div class="nav-wrapper">
          <nav>
            {{ range.Site.Menus.main }}
              <a href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}
          </nav>
        </div>
      </div>
    </div>
</nav>